<div class="diagram" [class.ready]="isLayoutReady()">
  <ng-diagram
    [model]="model"
    [config]="config"
    [nodeTemplateMap]="nodeTemplateMap"
    [edgeTemplateMap]="edgeTemplateMap"
    (edgeDrawn)="onEdgeDrawn($event)"
    (selectionRemoved)="onSelectionRemoved($event)"
    (selectionGestureEnded)="onSelectionGestureEnded($event)"
    (nodeDragStarted)="onNodeDragStarted($event)"
    (nodeDragEnded)="onNodeDragEnded($event)"
    (diagramInit)="onDiagramInit($event)"
  >
    <ng-diagram-background type="dots" />
  </ng-diagram>
  <ng-diagram-minimap position="bottom-right" [showZoomControls]="true" />
</div>
