<div
  class="diagram"
  [class.initialized]="isLayoutInitialized()"
  [class.rebuilding]="isRebuilding()"
>
  <ng-diagram
    [model]="model"
    [config]="config"
    [nodeTemplateMap]="nodeTemplateMap"
    [edgeTemplateMap]="edgeTemplateMap"
    (selectionRemoved)="onSelectionRemoved($event)"
    (selectionGestureEnded)="onSelectionGestureEnded($event)"
    (nodeDragStarted)="onNodeDragStarted($event)"
    (nodeDragEnded)="onNodeDragEnded($event)"
    (diagramInit)="onDiagramInit($event)"
  >
    <ng-diagram-background type="dots" />
  </ng-diagram>
</div>
