.toggle-btn {
  display: flex;
  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  min-width: 24px;
  padding: 5.333px;
  justify-content: center;
  align-items: center;
  gap: 2.667px;
  cursor: pointer;
  color: var(--ngd-txt-primary-white);

  border-radius: 32px;
  border: 2.667px solid var(--ngd-ui-stroke-primary-default);
  background: var(--ngd-node-port-fill-active);

  &:hover {
    background: var(--ngd-colors-acc1-400);
  }
}

:host-context(.layout-horizontal) .toggle-btn {
  bottom: auto;
  left: auto;
  right: -0.75rem;
  top: 50%;
  transform: translateY(-50%);
}
