@if (showAddButtons()) {
  @if (!isRoot()) {
    <app-add-button
      position="left"
      [horizontal]="isHorizontal()"
      [disabled]="isAddButtonDisabled()"
      (add)="onAddLeft($event)"
    />
    <app-add-button
      position="right"
      [horizontal]="isHorizontal()"
      [disabled]="isAddButtonDisabled()"
      (add)="onAddRight($event)"
    />
  }
  <app-add-button
    position="bottom"
    [horizontal]="isHorizontal()"
    [disabled]="isAddButtonDisabled()"
    (add)="onAddBottom($event)"
  />
}
