:host {
  display: block;
  position: relative;
  cursor: grab;

  --card-border-color: var(--ngd-ui-stroke-primary-default);
  --card-border-style: solid;
  --card-box-shadow: var(--ngd-token-radius-shadow-xxs-x) var(--ngd-token-radius-shadow-xxs-y)
    var(--ngd-token-radius-shadow-xxs-blur) 0 var(--ngd-colors-gray-900-10); /* No Figma token - shadow color */
  &:active {
    cursor: grabbing;
  }

  &:hover {
    --card-border-color: var(--ngd-ui-stroke-primary-highlight);
  }

  &.selected {
    --card-border-color: var(--ngd-ui-stroke-primary-highlight);
    --card-box-shadow: var(--ngd-token-shadow-focus-node-active-x)
      var(--ngd-token-shadow-focus-node-active-y) var(--ngd-token-shadow-focus-node-active-blur)
      var(--ngd-token-shadow-focus-node-active-spread) var(--ngd-focus-ring-node-active);
  }

  &.variant-vacant {
    --card-border-color: var(--ngd-ui-stroke-secondary-default);
    --card-border-style: dashed;

    &:hover {
      --card-border-color: var(--ngd-ui-stroke-primary-highlight);
    }
  }

  .hover-zone {
    position: absolute;
    inset: 0 -40px -55px;
    z-index: -1;
    pointer-events: none;
  }

  &:hover .hover-zone {
    pointer-events: auto;
  }

  ng-diagram-port {
    --ngd-port-size: 0;
    visibility: hidden;
  }
}
