@switch (variant()) {
  @case ('vacant') {
    <app-vacant-node [role]="node().data.role" />
  }
  @case ('compact') {
    @let data = occupiedData();
    <app-compact-node [fullName]="data?.fullName" [role]="data?.role" [color]="color()" />
  }
  @case ('full') {
    @let data = occupiedData();
    <app-full-node
      [fullName]="data?.fullName"
      [role]="data?.role"
      [color]="color()"
      [reports]="data?.reports"
      [span]="data?.span"
      [shiftCapacity]="data?.shiftCapacity"
    />
  }
}

<app-toggle-expand-button [node]="node()" [isHorizontal]="isHorizontal()" />

<app-drag-indicators
  [nodeId]="node().id"
  [hasChildren]="!!hasChildren()"
  [isHorizontal]="isHorizontal()"
/>

<app-add-buttons-panel
  [nodeId]="node().id"
  [isRoot]="isRoot()"
  [isHorizontal]="isHorizontal()"
  [isHovered]="isHovered()"
/>

@if (isHovered()) {
  <div class="hover-zone" data-no-drag="true"></div>
}

<!-- Connection ports: incoming edge port and outgoing edge port. -->
@if (isHorizontal()) {
  <ng-diagram-port id="port-in" type="both" side="left" />
  <ng-diagram-port id="port-out" type="both" side="right" />
} @else {
  <ng-diagram-port id="port-in" type="both" side="top" />
  <ng-diagram-port id="port-out" type="both" side="bottom" />
}
