:host {
  display: flex;
  align-items: center;
  gap: 12px; /* No Figma token */
}

.initials {
  --initials-size: 44px; /* No Figma token */

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--initials-size);
  height: var(--initials-size);
  padding: var(--ngd-token-spacing-node-head-icon);
  border-radius: 50%;
  /* No Figma token - default color */
  color: var(--node-accent, var(--ngd-colors-acc3-400));
  background: color-mix(in srgb, var(--node-accent, var(--ngd-colors-acc3-400)) 20%, transparent);
  border: 2px solid /* No Figma token - border size */
    color-mix(in srgb, var(--node-accent, var(--ngd-colors-acc3-400)) 30%, transparent);

  :host-context(html[data-theme='dark']) & {
    background: var(--ngd-node-bg-secondary-default);
  }

  &--vacant {
    background: var(--ngd-colors-gray-900-5); /* No Figma token - fill */
    border-color: var(--ngd-colors-gray-900-10); /* No Figma token - stroke */

    :host-context(html[data-theme='dark']) & {
      background: var(--ngd-colors-gray-100-10); /* No Figma token - fill */
      border-color: var(--ngd-colors-gray-100-20); /* No Figma token - stroke */
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.name {
  color: var(--ngd-txt-primary-default);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.role {
  color: var(--ngd-txt-secondary-default);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
