<app-diagram #diagram appViewportBounds />
<div class="ui-overlay">
  <app-top-navbar class="top-navbar" appViewportOverlay />
  <div class="top-toolbar-wrapper">
    <app-toolbar-horizontal
      class="top-toolbar"
      [direction]="diagram.direction()"
      [disabled]="!diagram.isLayoutIdle()"
      (directionChange)="diagram.changeDirection($event)"
      appViewportOverlay
    />
  </div>
  <div class="content-area">
    <app-properties-sidebar appViewportOverlay />
    <ng-diagram-minimap [showZoomControls]="true" appViewportOverlay />
  </div>
</div>
