:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  gap: var(--ngd-primitive-even-14); /* No Figma token */
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--ngd-primitive-4rule-12); /* No Figma token */
  pointer-events: none;
}

.clickable {
  pointer-events: all;
}
