<app-modal-dialog [heading]="title" [open]="isOpen()" [opener]="opener()" (closed)="onClose()">
  <table class="shortcuts-table">
    <thead>
      <tr>
        <th scope="col">Keys</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (row of rows; track $index) {
        <tr>
          <td class="keys-cell">
            @for (combo of row.combos; track $index) {
              @if (!$first) {
                <span class="combo-separator">or</span>
              }
              @for (key of combo; track $index) {
                @if (!$first) {
                  <span class="key-separator">+</span>
                }
                <kbd
                  ><span aria-hidden="true">{{ key }}</span
                  ><span class="visually-hidden">{{ spokenKey(key) }}</span></kbd
                >
              }
            }
          </td>
          <td>{{ row.action }}</td>
        </tr>
      }
    </tbody>
  </table>
  <button modalFooter type="button" class="close-button" (click)="onClose()">Close</button>
</app-modal-dialog>
