.option-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.placeholder {
    color: var(--ngd-txt-secondary-default);
  }
}

app-combobox {
  --combobox-trigger-padding: var(--ngd-primitive-even-6); /* No Figma token */
}
