<app-select-dropdown
  [formControl]="innerControl"
  [options]="candidates()"
  [triggerId]="triggerId()"
  placeholder="None"
>
  <ng-template appSelectNullOption>
    <app-initials-avatar size="sm" />
    <span class="option-label placeholder">None</span>
  </ng-template>
  <ng-template appSelectOption let-option>
    <app-initials-avatar [fullName]="option.label" [color]="option.data.color" size="sm" />
    <span class="option-label">{{ option.label }}</span>
  </ng-template>
</app-select-dropdown>
