<app-select-dropdown
  [(value)]="value"
  [options]="candidates()"
  [triggerId]="triggerId()"
  placeholder="None"
>
  <ng-template appComboboxPrefix let-option>
    <app-initials-avatar [fullName]="option?.label" [color]="option?.data?.color" size="md" />
  </ng-template>
  <ng-template appSelectNullOption>
    <app-initials-avatar size="md" />
    <span class="option-label placeholder">None</span>
  </ng-template>
  <ng-template appSelectOption let-option>
    <app-initials-avatar [fullName]="option.label" [color]="option.data.color" size="md" />
    <span class="option-label">{{ option.label }}</span>
  </ng-template>
</app-select-dropdown>
