@import './tokens.css';
@import './typography.css';
@import 'ng-diagram/styles.css';

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
