:root {
  /* color */
  --ngd-colors-acc1-100: #ede5ff;
  --ngd-colors-acc1-200: #dccfff;
  --ngd-colors-acc1-300: #c4a8ff;
  --ngd-colors-acc1-400: #a977ff;
  --ngd-colors-acc1-50: #f5f1ff;
  --ngd-colors-acc1-500: #9140ff;
  --ngd-colors-acc1-500-10: #9140ff1a;
  --ngd-colors-acc1-500-20: #9140ff33;
  --ngd-colors-acc1-500-30: #9140ff4d;
  --ngd-colors-acc1-500-40: #9140ff66;
  --ngd-colors-acc1-500-50: #9140ff80;
  --ngd-colors-acc1-600: #891aff;
  --ngd-colors-acc1-700: #7706f1;
  --ngd-colors-acc1-800: #6706d1;
  --ngd-colors-acc1-900: #5607ab;
  --ngd-colors-acc1-950: #340174;
  --ngd-colors-acc1-950-10: #3401741a;
  --ngd-colors-acc1-950-20: #34017433;
  --ngd-colors-acc1-950-30: #3401744d;
  --ngd-colors-acc1-950-40: #34017466;
  --ngd-colors-acc1-950-50: #34017480;
  --ngd-colors-acc2-100: #fee3e2;
  --ngd-colors-acc2-200: #fdcdcb;
  --ngd-colors-acc2-300: #fa928e;
  --ngd-colors-acc2-400: #f77772;
  --ngd-colors-acc2-50: #fef2f2;
  --ngd-colors-acc2-500: #ed4c46;
  --ngd-colors-acc2-500-10: #ed4c461a;
  --ngd-colors-acc2-500-20: #ed4c4633;
  --ngd-colors-acc2-500-30: #ed4c464d;
  --ngd-colors-acc2-500-40: #ed4c4666;
  --ngd-colors-acc2-500-50: #ed4c4680;
  --ngd-colors-acc2-600: #da2f28;
  --ngd-colors-acc2-700: #b7241e;
  --ngd-colors-acc2-800: #98211c;
  --ngd-colors-acc2-900: #7e221e;
  --ngd-colors-acc2-950: #440d0b;
  --ngd-colors-acc2-950-10: #440d0b1a;
  --ngd-colors-acc2-950-20: #440d0b33;
  --ngd-colors-acc2-950-30: #440d0b4d;
  --ngd-colors-acc2-950-40: #440d0b66;
  --ngd-colors-acc2-950-50: #440d0b80;
  --ngd-colors-acc3-100: #defae9;
  --ngd-colors-acc3-200: #bff3d3;
  --ngd-colors-acc3-300: #8ee7b1;
  --ngd-colors-acc3-400: #3ecd77;
  --ngd-colors-acc3-50: #f1fcf4;
  --ngd-colors-acc3-500: #2eb966;
  --ngd-colors-acc3-500-10: #2eb9661a;
  --ngd-colors-acc3-500-20: #2eb96633;
  --ngd-colors-acc3-500-30: #2eb9664d;
  --ngd-colors-acc3-500-40: #2eb96666;
  --ngd-colors-acc3-500-50: #2eb96680;
  --ngd-colors-acc3-600: #219851;
  --ngd-colors-acc3-700: #1d7842;
  --ngd-colors-acc3-800: #1c5f37;
  --ngd-colors-acc3-900: #194e30;
  --ngd-colors-acc3-950: #082b18;
  --ngd-colors-acc4-100: #e0f0fe;
  --ngd-colors-acc4-200: #bbe2fc;
  --ngd-colors-acc4-300: #5fbefa;
  --ngd-colors-acc4-400: #3ab0f6;
  --ngd-colors-acc4-50: #f0f8ff;
  --ngd-colors-acc4-500: #1096e7;
  --ngd-colors-acc4-500-10: #1096e71a;
  --ngd-colors-acc4-500-20: #1096e733;
  --ngd-colors-acc4-500-30: #1096e74d;
  --ngd-colors-acc4-500-40: #1096e766;
  --ngd-colors-acc4-500-50: #1096e780;
  --ngd-colors-acc4-600: #0477c5;
  --ngd-colors-acc4-700: #045fa0;
  --ngd-colors-acc4-800: #085184;
  --ngd-colors-acc4-900: #0d446d;
  --ngd-colors-acc4-950: #092b48;
  --ngd-colors-acc5-100: #fde6f4;
  --ngd-colors-acc5-200: #fdcdea;
  --ngd-colors-acc5-300: #fda4d7;
  --ngd-colors-acc5-400: #fa6cbc;
  --ngd-colors-acc5-50: #fef1f9;
  --ngd-colors-acc5-500: #fa6cbc;
  --ngd-colors-acc5-500-10: #fa6cbc1a;
  --ngd-colors-acc5-500-20: #fa6cbc33;
  --ngd-colors-acc5-500-30: #fa6cbc4d;
  --ngd-colors-acc5-500-40: #fa6cbc66;
  --ngd-colors-acc5-500-50: #fa6cbc80;
  --ngd-colors-acc5-600: #e41e7e;
  --ngd-colors-acc5-700: #c61063;
  --ngd-colors-acc5-800: #a41052;
  --ngd-colors-acc5-900: #891247;
  --ngd-colors-acc5-950: #540326;
  --ngd-colors-acc6-100: #fdf5c8;
  --ngd-colors-acc6-200: #fbe783;
  --ngd-colors-acc6-300: #f9d850;
  --ngd-colors-acc6-400: #f8c527;
  --ngd-colors-acc6-50: #fffceb;
  --ngd-colors-acc6-500: #f2a50e;
  --ngd-colors-acc6-600: #d67e09;
  --ngd-colors-acc6-700: #b1590c;
  --ngd-colors-acc6-800: #904410;
  --ngd-colors-acc6-900: #763811;
  --ngd-colors-acc6-950: #441c04;
  --ngd-colors-acc7-100: #cfd0d6;
  --ngd-colors-acc7-200: #a0a1ad;
  --ngd-colors-acc7-300: #707184;
  --ngd-colors-acc7-400: #41425b;
  --ngd-colors-acc7-50: #e3e3e3;
  --ngd-colors-acc7-500: #111332;
  --ngd-colors-acc7-600: #0e0f28;
  --ngd-colors-acc7-700: #0a0b1e;
  --ngd-colors-acc7-800: #070814;
  --ngd-colors-acc7-900: #03040a;
  --ngd-colors-acc7-950: #010208;
  --ngd-colors-gray-100: #ffffff;
  --ngd-colors-gray-100-10: #ffffff1a;
  --ngd-colors-gray-100-20: #ffffff33;
  --ngd-colors-gray-100-30: #ffffff4d;
  --ngd-colors-gray-100-5: #ffffff0d;
  --ngd-colors-gray-100-50: #ffffff80;
  --ngd-colors-gray-100-75: #ffffffbf;
  --ngd-colors-gray-200: #f5f5f7;
  --ngd-colors-gray-300: #edeff3;
  --ngd-colors-gray-400: #d5d8e0;
  --ngd-colors-gray-450: #bdc1cc;
  --ngd-colors-gray-500: #6f7480;
  --ngd-colors-gray-600: #4d5059;
  --ngd-colors-gray-650: #383a40;
  --ngd-colors-gray-700: #27282b;
  --ngd-colors-gray-800: #151516;
  --ngd-colors-gray-900: #070708;
  --ngd-colors-gray-900-10: #0707081a;
  --ngd-colors-gray-900-20: #07070833;
  --ngd-colors-gray-900-30: #0707084d;
  --ngd-colors-gray-900-5: #0707080d;
  --ngd-colors-gray-900-50: #07070880;
  --ngd-colors-gray-900-75: #07070880;
  --ngd-colors-green-100: #e9f7ee;
  --ngd-colors-green-200: #c2edd1;
  --ngd-colors-green-300: #29974e;
  --ngd-colors-green-400: #007c29;
  --ngd-colors-green-400-10: #007c291a;
  --ngd-colors-green-400-20: #007c2933;
  --ngd-colors-green-400-30: #007c294d;
  --ngd-colors-green-400-50: #007c2980;
  --ngd-colors-orange-100: #fff0d3;
  --ngd-colors-orange-200: #f9d59b;
  --ngd-colors-orange-300: #ecaf40;
  --ngd-colors-orange-400: #d99100;
  --ngd-colors-orange-400-10: #d991001a;
  --ngd-colors-orange-400-20: #d9910033;
  --ngd-colors-orange-400-30: #d991004d;
  --ngd-colors-orange-400-50: #d9910080;
  --ngd-colors-purple-100: #f5e7ff;
  --ngd-colors-purple-200: #ecd4ff;
  --ngd-colors-purple-300: #c980ff;
  --ngd-colors-purple-350: #bf68fe;
  --ngd-colors-purple-400: #b550fc;
  --ngd-colors-purple-400-10: #b550fc1a;
  --ngd-colors-purple-400-20: #b550fc33;
  --ngd-colors-purple-400-30: #b550fc4d;
  --ngd-colors-purple-400-50: #b550fc80;
  --ngd-colors-purple-500: #961ce7;
  --ngd-colors-purple-600: #761dac;
  --ngd-colors-red-100: #fde3e3;
  --ngd-colors-red-100-10: #fde3e31a;
  --ngd-colors-red-100-20: #fde3e333;
  --ngd-colors-red-100-30: #fde3e34d;
  --ngd-colors-red-100-50: #fde3e380;
  --ngd-colors-red-200: #fbcdcd;
  --ngd-colors-red-300: #f17878;
  --ngd-colors-red-400: #d32f2f;
  --ngd-colors-red-400-10: #d32f2f1a;
  --ngd-colors-red-400-20: #d32f2f33;
  --ngd-colors-red-400-30: #d32f2f4d;
  --ngd-colors-red-400-50: #d32f2f80;
  --ngd-colors-red-500: #b12424;
  --ngd-colors-red-600: #7a2222;
}
html[data-theme='light'] {
  /* color */
  --ngd-avatar-fill-default: var(--ngd-colors-gray-650);
  --ngd-avatar-stroke-default: var(--ngd-colors-gray-400);
  --ngd-button-ghost-destructive-bg-active: var(--ngd-colors-red-400-30);
  --ngd-button-ghost-destructive-bg-default: var(--ngd-colors-red-400-10);
  --ngd-button-ghost-destructive-bg-disabled: var(--ngd-colors-red-400-10);
  --ngd-button-ghost-destructive-bg-focus: var(--ngd-colors-red-400-10);
  --ngd-button-ghost-destructive-bg-hover: var(--ngd-colors-red-400-20);
  --ngd-button-ghost-destructive-bg-loading: var(--ngd-colors-red-400-10);
  --ngd-button-ghost-destructive-stroke-default: var(--ngd-colors-red-400);
  --ngd-button-gray-bg-active: var(--ngd-colors-gray-650);
  --ngd-button-gray-bg-default: var(--ngd-colors-gray-500);
  --ngd-button-gray-bg-disabled: var(--ngd-colors-gray-400);
  --ngd-button-gray-bg-focus: var(--ngd-colors-gray-500);
  --ngd-button-gray-bg-hover: var(--ngd-colors-gray-600);
  --ngd-button-gray-bg-loading: var(--ngd-colors-gray-500);
  --ngd-button-green-bg-active: var(--ngd-colors-green-300);
  --ngd-button-green-bg-default: var(--ngd-colors-green-300);
  --ngd-button-green-bg-disabled: var(--ngd-colors-gray-400);
  --ngd-button-green-bg-focus: var(--ngd-colors-green-300);
  --ngd-button-green-bg-hover: var(--ngd-colors-green-400);
  --ngd-button-green-bg-loading: var(--ngd-colors-green-300);
  --ngd-button-orange-bg-active: var(--ngd-colors-orange-300);
  --ngd-button-orange-bg-default: var(--ngd-colors-orange-300);
  --ngd-button-orange-bg-focus: var(--ngd-colors-orange-300);
  --ngd-button-orange-bg-hover: var(--ngd-colors-orange-400);
  --ngd-button-orange-bg-loading: var(--ngd-colors-orange-300);
  --ngd-button-primary-bg-active: var(--ngd-colors-acc1-700);
  --ngd-button-primary-bg-default: var(--ngd-colors-acc1-500);
  --ngd-button-primary-bg-disabled: var(--ngd-colors-gray-400);
  --ngd-button-primary-bg-focus: var(--ngd-colors-acc1-500);
  --ngd-button-primary-bg-hover: var(--ngd-colors-acc1-600);
  --ngd-button-primary-bg-loading: var(--ngd-colors-acc1-500);
  --ngd-button-red-bg-active: var(--ngd-colors-red-600);
  --ngd-button-red-bg-default: var(--ngd-colors-red-400);
  --ngd-button-red-bg-disabled: var(--ngd-colors-gray-400);
  --ngd-button-red-bg-focus: var(--ngd-colors-red-400);
  --ngd-button-red-bg-hover: var(--ngd-colors-red-500);
  --ngd-button-red-bg-loading: var(--ngd-colors-red-400);
  --ngd-chips-acc1-bg: var(--ngd-colors-acc1-500-10);
  --ngd-chips-acc1-icon: var(--ngd-colors-acc1-600);
  --ngd-chips-acc1-stroke: var(--ngd-colors-acc1-600);
  --ngd-chips-acc1-txt: var(--ngd-colors-acc1-600);
  --ngd-chips-acc1-x: var(--ngd-colors-acc1-600);
  --ngd-chips-acc2-bg: var(--ngd-colors-acc2-500-10);
  --ngd-chips-acc2-icon: var(--ngd-colors-acc2-600);
  --ngd-chips-acc2-stroke: var(--ngd-colors-acc2-600);
  --ngd-chips-acc2-txt: var(--ngd-colors-acc2-600);
  --ngd-chips-acc2-x: var(--ngd-colors-acc2-600);
  --ngd-chips-acc3-bg: var(--ngd-colors-acc3-500-10);
  --ngd-chips-acc3-icon: var(--ngd-colors-acc3-700);
  --ngd-chips-acc3-stroke: var(--ngd-colors-acc3-700);
  --ngd-chips-acc3-txt: var(--ngd-colors-acc3-700);
  --ngd-chips-acc3-x: var(--ngd-colors-acc3-700);
  --ngd-chips-acc4-bg: var(--ngd-colors-acc4-500-10);
  --ngd-chips-acc4-icon: var(--ngd-colors-acc4-600);
  --ngd-chips-acc4-stroke: var(--ngd-colors-acc4-600);
  --ngd-chips-acc4-txt: var(--ngd-colors-acc4-600);
  --ngd-chips-acc4-x: var(--ngd-colors-acc4-600);
  --ngd-chips-acc5-bg: var(--ngd-colors-acc5-500-10);
  --ngd-chips-acc5-icon: var(--ngd-colors-acc5-700);
  --ngd-chips-acc5-stroke: var(--ngd-colors-acc5-700);
  --ngd-chips-acc5-txt: var(--ngd-colors-acc5-700);
  --ngd-chips-acc5-x: var(--ngd-colors-acc5-700);
  --ngd-chips-neutral-bg: var(--ngd-colors-gray-300);
  --ngd-chips-neutral-icon: var(--ngd-colors-acc1-500);
  --ngd-chips-neutral-txt: var(--ngd-colors-gray-800);
  --ngd-chips-neutral-x: var(--ngd-colors-gray-500);
  --ngd-datepicker-bg-primary: var(--ngd-colors-acc1-600);
  --ngd-datepicker-bg-secondary: var(--ngd-colors-gray-300);
  --ngd-dropdown-bg-destructive-default: var(--ngd-colors-red-400-10);
  --ngd-dropdown-bg-destructive-hover: var(--ngd-colors-red-400-20);
  --ngd-dropdown-bg-primary-default: var(--ngd-colors-gray-100);
  --ngd-dropdown-bg-secondary-active: var(--ngd-colors-acc1-600);
  --ngd-dropdown-bg-secondary-default: var(--ngd-colors-gray-300);
  --ngd-dropzone-bg-default: var(--ngd-colors-gray-200);
  --ngd-dropzone-bg-dragging: var(--ngd-colors-gray-300);
  --ngd-dropzone-bg-error: var(--ngd-colors-red-400-10);
  --ngd-dropzone-bg-hover: var(--ngd-colors-gray-300);
  --ngd-dropzone-stroke-default: var(--ngd-colors-gray-400);
  --ngd-dropzone-stroke-dragging: var(--ngd-colors-gray-800);
  --ngd-dropzone-stroke-error: var(--ngd-colors-red-400);
  --ngd-dropzone-stroke-hover: var(--ngd-colors-gray-500);
  --ngd-edge-primary-active: var(--ngd-colors-acc1-500);
  --ngd-edge-primary-default: var(--ngd-colors-gray-500);
  --ngd-edge-primary-disabled: var(--ngd-colors-gray-450);
  --ngd-edge-primary-hover: var(--ngd-colors-gray-700);
  --ngd-focus-ring-element: var(--ngd-colors-gray-800);
  --ngd-focus-ring-node-active: var(--ngd-colors-acc1-500-40);
  --ngd-focus-ring-node-error: var(--ngd-colors-acc2-500-40);
  --ngd-focus-ring-node-warning: var(--ngd-colors-acc5-500-40);
  --ngd-input-bg-primary-error: var(--ngd-colors-red-400-10);
  --ngd-input-bg-primary-success: var(--ngd-colors-green-400-10);
  --ngd-input-stroke-primary-default: var(--ngd-colors-gray-400);
  --ngd-input-stroke-primary-error: var(--ngd-colors-red-400);
  --ngd-input-stroke-primary-focus: var(--ngd-colors-acc1-500);
  --ngd-input-stroke-primary-success: var(--ngd-colors-green-400);
  --ngd-multiuser-bg-user-1: var(--ngd-colors-acc1-400);
  --ngd-multiuser-bg-user-2: var(--ngd-colors-acc2-400);
  --ngd-multiuser-bg-user-3: var(--ngd-colors-acc3-400);
  --ngd-multiuser-bg-user-4: var(--ngd-colors-acc4-400);
  --ngd-multiuser-bg-user-5: var(--ngd-colors-acc5-400);
  --ngd-multiuser-bg-user-6: var(--ngd-colors-acc6-400);
  --ngd-nav-button-bg-primary-hover: var(--ngd-colors-gray-900-5);
  --ngd-nav-button-icon-primary-active: var(--ngd-colors-gray-100);
  --ngd-nav-button-icon-primary-default: var(--ngd-colors-gray-600);
  --ngd-nav-button-icon-primary-disabled: var(--ngd-colors-gray-450);
  --ngd-nav-button-icon-primary-hover: var(--ngd-colors-gray-800);
  --ngd-nav-button-icon-primary-pressed: var(--ngd-colors-acc1-600);
  --ngd-node-bg-primary-default: var(--ngd-colors-gray-100);
  --ngd-node-bg-primary-disabled: var(--ngd-colors-gray-200);
  --ngd-node-bg-primary-hover: var(--ngd-colors-acc1-50);
  --ngd-node-bg-secondary-default: var(--ngd-colors-gray-200);
  --ngd-node-bg-tertiary-default: var(--ngd-colors-gray-500);
  --ngd-node-bg-tertiary-hover: var(--ngd-colors-gray-650);
  --ngd-node-icon-primary-default: var(--ngd-colors-acc1-500);
  --ngd-node-icon-primary-disabled: var(--ngd-colors-gray-900-30);
  --ngd-node-notify-bg-default: var(--ngd-colors-orange-400);
  --ngd-node-notify-ico-default: var(--ngd-colors-orange-100);
  --ngd-node-port-fill-active: var(--ngd-colors-acc1-500);
  --ngd-node-port-fill-default: var(--ngd-colors-gray-100);
  --ngd-node-port-stroke-active: var(--ngd-colors-gray-100);
  --ngd-node-port-stroke-default: var(--ngd-colors-gray-500);
  --ngd-node-stroke-primary-default: var(--ngd-colors-gray-400);
  --ngd-node-stroke-primary-hover: var(--ngd-colors-acc1-500);
  --ngd-node-txt-disabled: var(--ngd-colors-gray-900-30);
  --ngd-pt-bg-primary-default: var(--ngd-colors-gray-700);
  --ngd-pt-stroke-primary-default: var(--ngd-colors-gray-600);
  --ngd-scrollbar-bg-default: var(--ngd-colors-gray-400);
  --ngd-shadow: var(--ngd-colors-gray-900-20);
  --ngd-snackbar-bg-default: var(--ngd-colors-gray-900-5);
  --ngd-snackbar-bg-error: var(--ngd-colors-red-400-10);
  --ngd-snackbar-bg-information: var(--ngd-colors-acc1-500-10);
  --ngd-snackbar-bg-success: var(--ngd-colors-green-400-10);
  --ngd-snackbar-bg-warning: var(--ngd-colors-orange-400-10);
  --ngd-tab-stroke-active: var(--ngd-colors-acc1-500);
  --ngd-tab-stroke-default: var(--ngd-colors-gray-500);
  --ngd-tab-stroke-hover: var(--ngd-colors-gray-800);
  --ngd-tab-stroke-line: var(--ngd-colors-gray-400);
  --ngd-tooltip-bg-default: var(--ngd-colors-gray-800);
  --ngd-tooltip-bg-purple: var(--ngd-colors-acc1-800);
  --ngd-transform-box: var(--ngd-colors-acc4-500);
  --ngd-txt-destructive-disabled: var(--ngd-colors-red-400-50);
  --ngd-txt-destuctive-default: var(--ngd-colors-red-400);
  --ngd-txt-error-default: var(--ngd-colors-red-400);
  --ngd-txt-info-default: var(--ngd-colors-acc1-700);
  --ngd-txt-primary-default: var(--ngd-colors-gray-800);
  --ngd-txt-primary-disabled: var(--ngd-colors-gray-100-75);
  --ngd-txt-primary-inverse: var(--ngd-colors-gray-100);
  --ngd-txt-primary-white: var(--ngd-colors-gray-100);
  --ngd-txt-quaternary-default: var(--ngd-colors-gray-450);
  --ngd-txt-secondary-default: var(--ngd-colors-gray-600);
  --ngd-txt-secondary-inverse: var(--ngd-colors-gray-300);
  --ngd-txt-success-default: var(--ngd-colors-green-400);
  --ngd-txt-tertiary-default: var(--ngd-colors-gray-500);
  --ngd-txt-tooltip-blue: var(--ngd-colors-gray-100);
  --ngd-txt-tooltip-bw: var(--ngd-colors-gray-100);
  --ngd-txt-warning-default: var(--ngd-colors-orange-400);
  --ngd-ui-bg-primary-default: var(--ngd-colors-gray-100);
  --ngd-ui-bg-secondary-default: var(--ngd-colors-gray-200);
  --ngd-ui-bg-tertiary-default: var(--ngd-colors-gray-300);
  --ngd-ui-bg-tertiary-selected: var(--ngd-colors-acc1-600);
  --ngd-ui-canvas-dots-default: var(--ngd-colors-gray-500);
  --ngd-ui-separator-primary-default: var(--ngd-colors-gray-300);
  --ngd-ui-stroke-primary-default: var(--ngd-colors-gray-300);
  --ngd-ui-stroke-primary-focus: var(--ngd-colors-gray-500);
  --ngd-ui-stroke-primary-highlight: var(--ngd-colors-acc1-500);
  --ngd-ui-stroke-secondary-default: var(--ngd-colors-gray-400);
  --ngd-widget-swatches-acc1: var(--ngd-colors-acc1-500);
  --ngd-widget-swatches-acc2: var(--ngd-colors-acc2-500);
  --ngd-widget-swatches-acc3: var(--ngd-colors-acc3-500);
  --ngd-widget-swatches-acc4: var(--ngd-colors-acc4-500);
  --ngd-widget-swatches-acc5: var(--ngd-colors-acc5-500);
  --ngd-widget-swatches-acc6: var(--ngd-colors-gray-500);
}
html[data-theme='dark'] {
  /* color */
  --ngd-avatar-fill-default: var(--ngd-colors-gray-450);
  --ngd-avatar-stroke-default: var(--ngd-colors-gray-300);
  --ngd-button-ghost-destructive-bg-active: var(--ngd-colors-red-400-30);
  --ngd-button-ghost-destructive-bg-default: var(--ngd-colors-red-400-10);
  --ngd-button-ghost-destructive-bg-disabled: var(--ngd-colors-red-400-10);
  --ngd-button-ghost-destructive-bg-focus: var(--ngd-colors-red-400-10);
  --ngd-button-ghost-destructive-bg-hover: var(--ngd-colors-red-400-20);
  --ngd-button-ghost-destructive-bg-loading: var(--ngd-colors-red-400-10);
  --ngd-button-ghost-destructive-stroke-default: var(--ngd-colors-red-400);
  --ngd-button-gray-bg-active: var(--ngd-colors-gray-500);
  --ngd-button-gray-bg-default: var(--ngd-colors-gray-650);
  --ngd-button-gray-bg-disabled: var(--ngd-colors-gray-500);
  --ngd-button-gray-bg-focus: var(--ngd-colors-gray-650);
  --ngd-button-gray-bg-hover: var(--ngd-colors-gray-600);
  --ngd-button-gray-bg-loading: var(--ngd-colors-gray-650);
  --ngd-button-green-bg-active: var(--ngd-colors-green-300);
  --ngd-button-green-bg-default: var(--ngd-colors-green-300);
  --ngd-button-green-bg-disabled: var(--ngd-colors-gray-400);
  --ngd-button-green-bg-focus: var(--ngd-colors-green-300);
  --ngd-button-green-bg-hover: var(--ngd-colors-green-400);
  --ngd-button-green-bg-loading: var(--ngd-colors-green-300);
  --ngd-button-orange-bg-active: var(--ngd-colors-orange-300);
  --ngd-button-orange-bg-default: var(--ngd-colors-orange-300);
  --ngd-button-orange-bg-focus: var(--ngd-colors-orange-300);
  --ngd-button-orange-bg-hover: var(--ngd-colors-orange-400);
  --ngd-button-orange-bg-loading: var(--ngd-colors-orange-300);
  --ngd-button-primary-bg-active: var(--ngd-colors-acc1-700);
  --ngd-button-primary-bg-default: var(--ngd-colors-acc1-500);
  --ngd-button-primary-bg-disabled: var(--ngd-colors-gray-600);
  --ngd-button-primary-bg-focus: var(--ngd-colors-acc1-500);
  --ngd-button-primary-bg-hover: var(--ngd-colors-acc1-600);
  --ngd-button-primary-bg-loading: var(--ngd-colors-acc1-500);
  --ngd-button-red-bg-active: var(--ngd-colors-red-600);
  --ngd-button-red-bg-default: var(--ngd-colors-red-400);
  --ngd-button-red-bg-disabled: var(--ngd-colors-gray-400);
  --ngd-button-red-bg-focus: var(--ngd-colors-red-400);
  --ngd-button-red-bg-hover: var(--ngd-colors-red-500);
  --ngd-button-red-bg-loading: var(--ngd-colors-red-400);
  --ngd-chips-acc1-bg: var(--ngd-colors-acc1-500-10);
  --ngd-chips-acc1-icon: var(--ngd-colors-acc1-300);
  --ngd-chips-acc1-stroke: var(--ngd-colors-acc1-300);
  --ngd-chips-acc1-txt: var(--ngd-colors-acc1-300);
  --ngd-chips-acc1-x: var(--ngd-colors-acc1-300);
  --ngd-chips-acc2-bg: var(--ngd-colors-acc2-500-10);
  --ngd-chips-acc2-icon: var(--ngd-colors-acc2-300);
  --ngd-chips-acc2-stroke: var(--ngd-colors-acc2-300);
  --ngd-chips-acc2-txt: var(--ngd-colors-acc2-300);
  --ngd-chips-acc2-x: var(--ngd-colors-acc2-300);
  --ngd-chips-acc3-bg: var(--ngd-colors-acc3-500-10);
  --ngd-chips-acc3-icon: var(--ngd-colors-acc3-300);
  --ngd-chips-acc3-stroke: var(--ngd-colors-acc3-300);
  --ngd-chips-acc3-txt: var(--ngd-colors-acc3-300);
  --ngd-chips-acc3-x: var(--ngd-colors-acc3-300);
  --ngd-chips-acc4-bg: var(--ngd-colors-acc4-500-10);
  --ngd-chips-acc4-icon: var(--ngd-colors-acc4-300);
  --ngd-chips-acc4-stroke: var(--ngd-colors-acc4-300);
  --ngd-chips-acc4-txt: var(--ngd-colors-acc4-300);
  --ngd-chips-acc4-x: var(--ngd-colors-acc4-300);
  --ngd-chips-acc5-bg: var(--ngd-colors-acc5-500-10);
  --ngd-chips-acc5-icon: var(--ngd-colors-acc5-200);
  --ngd-chips-acc5-stroke: var(--ngd-colors-acc5-200);
  --ngd-chips-acc5-txt: var(--ngd-colors-acc5-200);
  --ngd-chips-acc5-x: var(--ngd-colors-acc5-200);
  --ngd-chips-neutral-bg: var(--ngd-colors-gray-650);
  --ngd-chips-neutral-icon: var(--ngd-colors-acc1-400);
  --ngd-chips-neutral-txt: var(--ngd-colors-gray-100);
  --ngd-chips-neutral-x: var(--ngd-colors-gray-450);
  --ngd-datepicker-bg-primary: var(--ngd-colors-acc1-600);
  --ngd-datepicker-bg-secondary: var(--ngd-colors-gray-800);
  --ngd-dropdown-bg-destructive-default: var(--ngd-colors-red-400-30);
  --ngd-dropdown-bg-destructive-hover: var(--ngd-colors-red-400-50);
  --ngd-dropdown-bg-primary-default: var(--ngd-colors-gray-650);
  --ngd-dropdown-bg-secondary-active: var(--ngd-colors-acc1-500);
  --ngd-dropdown-bg-secondary-default: var(--ngd-colors-gray-600);
  --ngd-dropzone-bg-default: var(--ngd-colors-gray-700);
  --ngd-dropzone-bg-dragging: var(--ngd-colors-gray-650);
  --ngd-dropzone-bg-error: var(--ngd-colors-red-400-10);
  --ngd-dropzone-bg-hover: var(--ngd-colors-gray-650);
  --ngd-dropzone-stroke-default: var(--ngd-colors-gray-650);
  --ngd-dropzone-stroke-dragging: var(--ngd-colors-gray-200);
  --ngd-dropzone-stroke-error: var(--ngd-colors-red-400);
  --ngd-dropzone-stroke-hover: var(--ngd-colors-gray-600);
  --ngd-edge-primary-active: var(--ngd-colors-acc1-400);
  --ngd-edge-primary-default: var(--ngd-colors-gray-600);
  --ngd-edge-primary-disabled: var(--ngd-colors-gray-650);
  --ngd-edge-primary-hover: var(--ngd-colors-gray-500);
  --ngd-focus-ring-element: var(--ngd-colors-gray-100);
  --ngd-focus-ring-node-active: var(--ngd-colors-acc1-500-40);
  --ngd-focus-ring-node-error: var(--ngd-colors-acc2-500-40);
  --ngd-focus-ring-node-warning: var(--ngd-colors-acc5-500-40);
  --ngd-input-bg-primary-error: var(--ngd-colors-red-400-10);
  --ngd-input-bg-primary-success: var(--ngd-colors-green-400-10);
  --ngd-input-stroke-primary-default: var(--ngd-colors-gray-600);
  --ngd-input-stroke-primary-error: var(--ngd-colors-red-400);
  --ngd-input-stroke-primary-focus: var(--ngd-colors-acc1-500);
  --ngd-input-stroke-primary-success: var(--ngd-colors-green-400);
  --ngd-multiuser-bg-user-1: var(--ngd-colors-acc1-400);
  --ngd-multiuser-bg-user-2: var(--ngd-colors-acc2-400);
  --ngd-multiuser-bg-user-3: var(--ngd-colors-acc3-400);
  --ngd-multiuser-bg-user-4: var(--ngd-colors-acc4-400);
  --ngd-multiuser-bg-user-5: var(--ngd-colors-acc5-400);
  --ngd-multiuser-bg-user-6: var(--ngd-colors-acc6-400);
  --ngd-nav-button-bg-primary-hover: var(--ngd-colors-gray-100-5);
  --ngd-nav-button-icon-primary-active: var(--ngd-colors-gray-100);
  --ngd-nav-button-icon-primary-default: var(--ngd-colors-gray-400);
  --ngd-nav-button-icon-primary-disabled: var(--ngd-colors-gray-600);
  --ngd-nav-button-icon-primary-hover: var(--ngd-colors-gray-100);
  --ngd-nav-button-icon-primary-pressed: var(--ngd-colors-acc1-500);
  --ngd-node-bg-primary-default: var(--ngd-colors-gray-700);
  --ngd-node-bg-primary-disabled: var(--ngd-colors-gray-800);
  --ngd-node-bg-primary-hover: var(--ngd-colors-acc1-950-10);
  --ngd-node-bg-secondary-default: var(--ngd-colors-gray-800);
  --ngd-node-bg-tertiary-default: var(--ngd-colors-gray-650);
  --ngd-node-bg-tertiary-hover: var(--ngd-colors-gray-500);
  --ngd-node-icon-primary-default: var(--ngd-colors-acc1-400);
  --ngd-node-icon-primary-disabled: var(--ngd-colors-gray-100-30);
  --ngd-node-notify-bg-default: var(--ngd-colors-orange-400);
  --ngd-node-notify-ico-default: var(--ngd-colors-orange-100);
  --ngd-node-port-fill-active: var(--ngd-colors-acc1-500);
  --ngd-node-port-fill-default: var(--ngd-colors-gray-100);
  --ngd-node-port-stroke-active: var(--ngd-colors-gray-100);
  --ngd-node-port-stroke-default: var(--ngd-colors-gray-500);
  --ngd-node-stroke-primary-default: var(--ngd-colors-gray-600);
  --ngd-node-stroke-primary-hover: var(--ngd-colors-acc1-400);
  --ngd-node-txt-disabled: var(--ngd-colors-gray-100-30);
  --ngd-pt-bg-primary-default: var(--ngd-colors-gray-200);
  --ngd-pt-stroke-primary-default: var(--ngd-colors-gray-300);
  --ngd-scrollbar-bg-default: var(--ngd-colors-gray-500);
  --ngd-shadow: var(--ngd-colors-gray-900-50);
  --ngd-snackbar-bg-default: var(--ngd-colors-gray-100-10);
  --ngd-snackbar-bg-error: var(--ngd-colors-red-400-10);
  --ngd-snackbar-bg-information: var(--ngd-colors-acc1-500-10);
  --ngd-snackbar-bg-success: var(--ngd-colors-green-400-10);
  --ngd-snackbar-bg-warning: var(--ngd-colors-orange-400-10);
  --ngd-tab-stroke-active: var(--ngd-colors-acc1-500);
  --ngd-tab-stroke-default: var(--ngd-colors-gray-500);
  --ngd-tab-stroke-hover: var(--ngd-colors-gray-200);
  --ngd-tab-stroke-line: var(--ngd-colors-gray-600);
  --ngd-tooltip-bg-default: var(--ngd-colors-gray-300);
  --ngd-tooltip-bg-purple: var(--ngd-colors-acc1-800);
  --ngd-transform-box: var(--ngd-colors-acc4-500);
  --ngd-txt-destructive-disabled: var(--ngd-colors-red-100-30);
  --ngd-txt-destuctive-default: var(--ngd-colors-red-100);
  --ngd-txt-error-default: var(--ngd-colors-red-100);
  --ngd-txt-info-default: var(--ngd-colors-acc1-200);
  --ngd-txt-primary-default: var(--ngd-colors-gray-100);
  --ngd-txt-primary-disabled: var(--ngd-colors-gray-100-30);
  --ngd-txt-primary-inverse: var(--ngd-colors-gray-800);
  --ngd-txt-primary-white: var(--ngd-colors-gray-100);
  --ngd-txt-quaternary-default: var(--ngd-colors-gray-600);
  --ngd-txt-secondary-default: var(--ngd-colors-gray-400);
  --ngd-txt-secondary-inverse: var(--ngd-colors-gray-700);
  --ngd-txt-success-default: var(--ngd-colors-green-200);
  --ngd-txt-tertiary-default: var(--ngd-colors-gray-500);
  --ngd-txt-tooltip-blue: var(--ngd-colors-gray-100);
  --ngd-txt-tooltip-bw: var(--ngd-colors-gray-800);
  --ngd-txt-warning-default: var(--ngd-colors-orange-100);
  --ngd-ui-bg-primary-default: var(--ngd-colors-gray-700);
  --ngd-ui-bg-secondary-default: var(--ngd-colors-gray-650);
  --ngd-ui-bg-tertiary-default: var(--ngd-colors-gray-800);
  --ngd-ui-bg-tertiary-selected: var(--ngd-colors-acc1-600);
  --ngd-ui-canvas-dots-default: var(--ngd-colors-gray-650);
  --ngd-ui-separator-primary-default: var(--ngd-colors-gray-600);
  --ngd-ui-stroke-primary-default: var(--ngd-colors-gray-650);
  --ngd-ui-stroke-primary-focus: var(--ngd-colors-gray-500);
  --ngd-ui-stroke-primary-highlight: var(--ngd-colors-acc1-500);
  --ngd-ui-stroke-secondary-default: var(--ngd-colors-gray-600);
  --ngd-widget-swatches-acc1: var(--ngd-colors-acc1-400);
  --ngd-widget-swatches-acc2: var(--ngd-colors-acc2-400);
  --ngd-widget-swatches-acc3: var(--ngd-colors-acc3-400);
  --ngd-widget-swatches-acc4: var(--ngd-colors-acc4-400);
  --ngd-widget-swatches-acc5: var(--ngd-colors-acc5-400);
  --ngd-widget-swatches-acc6: var(--ngd-colors-gray-400);
}
:root {
  /* number */
  --ngd-primitive-4rule-0: 0rem;
  --ngd-primitive-4rule-4: 0.25rem;
  --ngd-primitive-4rule-8: 0.5rem;
  --ngd-primitive-4rule-12: 0.75rem;
  --ngd-primitive-4rule-16: 1rem;
  --ngd-primitive-4rule-20: 1.25rem;
  --ngd-primitive-4rule-24: 1.5rem;
  --ngd-primitive-4rule-28: 1.75rem;
  --ngd-primitive-4rule-32: 2rem;
  --ngd-primitive-4rule-36: 2.25rem;
  --ngd-primitive-4rule-40: 2.5rem;
  --ngd-primitive-4rule-44: 2.75rem;
  --ngd-primitive-4rule-48: 3rem;
  --ngd-primitive-4rule-52: 3.25rem;
  --ngd-primitive-4rule-56: 3.5rem;
  --ngd-primitive-4rule-60: 3.75rem;
  --ngd-primitive-4rule-64: 4rem;
  --ngd-primitive-even-0: 0rem;
  --ngd-primitive-even-2: 0.125rem;
  --ngd-primitive-even-4: 0.25rem;
  --ngd-primitive-even-6: 0.375rem;
  --ngd-primitive-even-8: 0.5rem;
  --ngd-primitive-even-10: 0.625rem;
  --ngd-primitive-even-12: 0.75rem;
  --ngd-primitive-even-14: 0.875rem;
  --ngd-primitive-even-16: 1rem;
  --ngd-primitive-even-18: 1.125rem;
  --ngd-primitive-even-20: 1.25rem;
  --ngd-primitive-even-100: 6.25rem;
  --ngd-primitive-even-negative--16: -1rem;
  --ngd-primitive-even-negative--14: -0.875rem;
  --ngd-primitive-even-negative--12: -0.75rem;
  --ngd-primitive-even-negative--10: -0.625rem;
  --ngd-primitive-even-negative--8: -0.5rem;
  --ngd-primitive-even-negative--6: -0.375rem;
  --ngd-primitive-even-negative--4: -0.25rem;
  --ngd-primitive-even-negative--2: -0.125rem;
  --ngd-primitive-odd-1: 0.0625rem;
  --ngd-primitive-odd-3: 0.1875rem;
  --ngd-primitive-odd-5: 0.3125rem;
  --ngd-primitive-odd-7: 0.4375rem;
  --ngd-primitive-odd-9: 0.5625rem;
  --ngd-primitive-odd-11: 0.6875rem;
  --ngd-primitive-odd-13: 0.8125rem;
  --ngd-primitive-odd-15: 0.9375rem;
  --ngd-token-radius-datepicker-day-sharp: var(--ngd-primitive-4rule-0);
  --ngd-token-radius-button-s: var(--ngd-primitive-even-4);
  --ngd-token-radius-button-xs: var(--ngd-primitive-even-4);
  --ngd-token-radius-button-xxs: var(--ngd-primitive-even-4);
  --ngd-token-radius-button-xxxs: var(--ngd-primitive-even-4);
  --ngd-token-radius-checkbox-m: var(--ngd-primitive-even-4);
  --ngd-token-radius-checkbox-s: var(--ngd-primitive-even-4);
  --ngd-token-radius-checkbox-xs: var(--ngd-primitive-even-4);
  --ngd-token-radius-chips-l: var(--ngd-primitive-even-4);
  --ngd-token-radius-chips-m: var(--ngd-primitive-even-4);
  --ngd-token-radius-chips-s: var(--ngd-primitive-even-4);
  --ngd-token-radius-chips-xl: var(--ngd-primitive-even-4);
  --ngd-token-radius-datepicker-day-rounded: var(--ngd-primitive-4rule-4);
  --ngd-token-radius-element-4: var(--ngd-primitive-4rule-4);
  --ngd-token-radius-label-s: var(--ngd-primitive-even-4);
  --ngd-token-radius-label-xs: var(--ngd-primitive-even-4);
  --ngd-token-radius-button-m: var(--ngd-primitive-even-6);
  --ngd-token-radius-dropdown-item-l: var(--ngd-primitive-even-6);
  --ngd-token-radius-dropdown-item-m: var(--ngd-primitive-even-6);
  --ngd-token-radius-dropdown-item-s: var(--ngd-primitive-even-6);
  --ngd-token-radius-input-m: var(--ngd-primitive-even-6);
  --ngd-token-radius-input-s: var(--ngd-primitive-even-6);
  --ngd-token-radius-label-m: var(--ngd-primitive-even-6);
  --ngd-token-radius-button-l: var(--ngd-primitive-even-8);
  --ngd-token-radius-button-xl: var(--ngd-primitive-even-8);
  --ngd-token-radius-datepicker-component: var(--ngd-primitive-4rule-8);
  --ngd-token-radius-dropdown-wrap-l: var(--ngd-primitive-even-8);
  --ngd-token-radius-dropdown-wrap-m: var(--ngd-primitive-even-8);
  --ngd-token-radius-dropdown-wrap-s: var(--ngd-primitive-even-8);
  --ngd-token-radius-element-8: var(--ngd-primitive-4rule-8);
  --ngd-token-radius-input-l: var(--ngd-primitive-even-8);
  --ngd-token-radius-node-head-icon: var(--ngd-primitive-even-8);
  --ngd-token-radius-product-tour-img: var(--ngd-primitive-4rule-8);
  --ngd-token-radius-seg-picker-s: var(--ngd-primitive-even-8);
  --ngd-token-radius-seg-picker-xs: var(--ngd-primitive-even-8);
  --ngd-token-radius-seg-picker-xxs: var(--ngd-primitive-even-8);
  --ngd-token-radius-seg-picker-xxxs: var(--ngd-primitive-even-8);
  --ngd-token-radius-snackbar: var(--ngd-primitive-even-8);
  --ngd-token-radius-toolbar-hor-s: var(--ngd-primitive-even-8);
  --ngd-token-radius-toolbar-vert-s: var(--ngd-primitive-even-8);
  --ngd-token-radius-tooltip: var(--ngd-primitive-even-8);
  --ngd-token-radius-seg-picker-m: var(--ngd-primitive-even-10);
  --ngd-token-radius-toolbar-hor-m: var(--ngd-primitive-even-10);
  --ngd-token-radius-toolbar-vert-m: var(--ngd-primitive-even-10);
  --ngd-token-radius-element-12: var(--ngd-primitive-4rule-12);
  --ngd-token-radius-node-head: var(--ngd-primitive-4rule-12);
  --ngd-token-radius-seg-picker-l: var(--ngd-primitive-even-12);
  --ngd-token-radius-seg-picker-xl: var(--ngd-primitive-even-12);
  --ngd-token-radius-shell: var(--ngd-primitive-even-12);
  --ngd-token-radius-toolbar-hor-l: var(--ngd-primitive-even-12);
  --ngd-token-radius-toolbar-hor-xl: var(--ngd-primitive-even-12);
  --ngd-token-radius-toolbar-vert-l: var(--ngd-primitive-even-12);
  --ngd-token-radius-toolbar-vert-xl: var(--ngd-primitive-even-12);
  --ngd-token-radius-element-16: var(--ngd-primitive-4rule-16);
  --ngd-token-radius-modal-l: var(--ngd-primitive-4rule-16);
  --ngd-token-radius-modal-m: var(--ngd-primitive-4rule-16);
  --ngd-token-radius-product-tour: var(--ngd-primitive-4rule-16);
  --ngd-token-radius-element-20: var(--ngd-primitive-4rule-20);
  --ngd-token-radius-element-24: var(--ngd-primitive-4rule-24);
  --ngd-token-radius-button-round: var(--ngd-primitive-even-100);
  --ngd-token-radius-radiobutton: var(--ngd-primitive-even-100);
  --ngd-token-shadow-shadow-xl-spread: var(--ngd-primitive-even-negative--12);
  --ngd-token-shadow-shadow-l-spread: var(--ngd-primitive-even-negative--8);
  --ngd-token-shadow-shadow-m-spread: var(--ngd-primitive-even-negative--6);
  --ngd-token-shadow-shadow-s-spread: var(--ngd-primitive-even-negative--4);
  --ngd-token-shadow-shadow-xs-spread: var(--ngd-primitive-even-negative--2);
  --ngd-token-shadow-focus-element-blur: var(--ngd-primitive-even-0);
  --ngd-token-shadow-focus-element-x: var(--ngd-primitive-even-0);
  --ngd-token-shadow-focus-element-y: var(--ngd-primitive-even-0);
  --ngd-token-shadow-focus-node-active-blur: var(--ngd-primitive-even-0);
  --ngd-token-shadow-focus-node-active-x: var(--ngd-primitive-even-0);
  --ngd-token-shadow-focus-node-active-y: var(--ngd-primitive-even-0);
  --ngd-token-shadow-shadow-l-x: var(--ngd-primitive-even-0);
  --ngd-token-shadow-shadow-m-x: var(--ngd-primitive-even-0);
  --ngd-token-shadow-shadow-s-x: var(--ngd-primitive-even-0);
  --ngd-token-shadow-shadow-xl-x: var(--ngd-primitive-even-0);
  --ngd-token-shadow-shadow-xs-x: var(--ngd-primitive-even-0);
  --ngd-token-shadow-focus-element-spread: var(--ngd-primitive-even-2);
  --ngd-token-shadow-focus-node-active-spread: var(--ngd-primitive-even-4);
  --ngd-token-shadow-shadow-xs-y: var(--ngd-primitive-4rule-4);
  --ngd-token-shadow-shadow-s-y: var(--ngd-primitive-4rule-8);
  --ngd-token-shadow-shadow-xs-blur: var(--ngd-primitive-4rule-8);
  --ngd-token-shadow-shadow-m-y: var(--ngd-primitive-4rule-12);
  --ngd-token-shadow-shadow-l-y: var(--ngd-primitive-4rule-16);
  --ngd-token-shadow-shadow-s-blur: var(--ngd-primitive-4rule-16);
  --ngd-token-shadow-shadow-m-blur: var(--ngd-primitive-4rule-24);
  --ngd-token-shadow-shadow-xl-y: var(--ngd-primitive-4rule-24);
  --ngd-token-shadow-shadow-l-blur: var(--ngd-primitive-4rule-32);
  --ngd-token-shadow-shadow-xl-blur: var(--ngd-primitive-4rule-48);
  --ngd-token-spacing-chips-s-v-pad: var(--ngd-primitive-even-2);
  --ngd-token-spacing-datepicker-table-gap: var(--ngd-primitive-even-2);
  --ngd-token-spacing-checkbox-m-pad: var(--ngd-primitive-odd-3);
  --ngd-token-spacing-checkbox-s-pad: var(--ngd-primitive-odd-3);
  --ngd-token-spacing-checkbox-xs-pad: var(--ngd-primitive-odd-3);
  --ngd-token-spacing-chips-m-v-pad: var(--ngd-primitive-odd-3);
  --ngd-token-spacing-button-xxxs-v-pad-2: var(--ngd-primitive-even-4);
  --ngd-token-spacing-chips-l-gap: var(--ngd-primitive-even-4);
  --ngd-token-spacing-chips-m-gap: var(--ngd-primitive-even-4);
  --ngd-token-spacing-chips-m-h-pad: var(--ngd-primitive-even-4);
  --ngd-token-spacing-chips-s-gap: var(--ngd-primitive-even-4);
  --ngd-token-spacing-chips-s-h-pad: var(--ngd-primitive-even-4);
  --ngd-token-spacing-chips-xl-gap: var(--ngd-primitive-even-4);
  --ngd-token-spacing-datepicker-weekdays-pad-v: var(--ngd-primitive-even-4);
  --ngd-token-spacing-dropdown-wrap-l-gap: var(--ngd-primitive-even-4);
  --ngd-token-spacing-dropdown-wrap-l-h-pad: var(--ngd-primitive-even-4);
  --ngd-token-spacing-dropdown-wrap-l-v-pad: var(--ngd-primitive-even-4);
  --ngd-token-spacing-dropdown-wrap-m-gap: var(--ngd-primitive-even-4);
  --ngd-token-spacing-dropdown-wrap-m-h-pad: var(--ngd-primitive-even-4);
  --ngd-token-spacing-dropdown-wrap-m-v-pad: var(--ngd-primitive-even-4);
  --ngd-token-spacing-dropdown-wrap-s-gap: var(--ngd-primitive-even-4);
  --ngd-token-spacing-dropdown-wrap-s-h-pad: var(--ngd-primitive-even-4);
  --ngd-token-spacing-dropdown-wrap-s-v-pad: var(--ngd-primitive-even-4);
  --ngd-token-spacing-radiobutton-xs-pad: var(--ngd-primitive-even-4);
  --ngd-token-spacing-seg-picker-gap: var(--ngd-primitive-even-4);
  --ngd-token-spacing-seg-picker-pad: var(--ngd-primitive-even-4);
  --ngd-token-spacing-spacing-4: var(--ngd-primitive-4rule-4);
  --ngd-token-spacing-toolbar-hor-pad: var(--ngd-primitive-even-4);
  --ngd-token-spacing-toolbar-vert-pad: var(--ngd-primitive-even-4);
  --ngd-token-spacing-tooltip-gap: var(--ngd-primitive-even-4);
  --ngd-token-spacing-button-xxxs-v-pad-1: var(--ngd-primitive-odd-5);
  --ngd-token-spacing-chips-l-v-pad: var(--ngd-primitive-odd-5);
  --ngd-token-spacing-chips-xl-v-pad: var(--ngd-primitive-odd-5);
  --ngd-token-spacing-radiobutton-m-pad: var(--ngd-primitive-odd-5);
  --ngd-token-spacing-radiobutton-s-pad: var(--ngd-primitive-odd-5);
  --ngd-token-spacing-button-xs-v-pad-2: var(--ngd-primitive-even-6);
  --ngd-token-spacing-button-xxs-gap: var(--ngd-primitive-even-6);
  --ngd-token-spacing-button-xxs-h-pad-1: var(--ngd-primitive-even-6);
  --ngd-token-spacing-button-xxs-h-pad-2: var(--ngd-primitive-even-6);
  --ngd-token-spacing-button-xxs-v-pad-2: var(--ngd-primitive-even-6);
  --ngd-token-spacing-button-xxxs-gap: var(--ngd-primitive-even-6);
  --ngd-token-spacing-button-xxxs-h-pad-1: var(--ngd-primitive-even-6);
  --ngd-token-spacing-button-xxxs-h-pad-2: var(--ngd-primitive-even-6);
  --ngd-token-spacing-chips-l-h-pad: var(--ngd-primitive-even-6);
  --ngd-token-spacing-chips-xl-h-pad: var(--ngd-primitive-even-6);
  --ngd-token-spacing-datepicker-header-pad: var(--ngd-primitive-even-6);
  --ngd-token-spacing-toolbar-hor-gap: var(--ngd-primitive-even-6);
  --ngd-token-spacing-toolbar-vert-gap: var(--ngd-primitive-even-6);
  --ngd-token-spacing-button-s-v-pad-2: var(--ngd-primitive-odd-7);
  --ngd-token-spacing-button-xxs-v-pad-1: var(--ngd-primitive-odd-7);
  --ngd-token-spacing-label-xs-v-pad-2: var(--ngd-primitive-odd-7);
  --ngd-token-spacing-button-l-gap: var(--ngd-primitive-4rule-8);
  --ngd-token-spacing-button-m-gap: var(--ngd-primitive-4rule-8);
  --ngd-token-spacing-button-s-gap: var(--ngd-primitive-4rule-8);
  --ngd-token-spacing-button-xl-gap: var(--ngd-primitive-4rule-8);
  --ngd-token-spacing-button-xs-gap: var(--ngd-primitive-4rule-8);
  --ngd-token-spacing-button-xs-h-pad-1: var(--ngd-primitive-4rule-8);
  --ngd-token-spacing-button-xs-h-pad-2: var(--ngd-primitive-4rule-8);
  --ngd-token-spacing-button-xs-v-pad-1: var(--ngd-primitive-4rule-8);
  --ngd-token-spacing-datepicker-table-pad: var(--ngd-primitive-even-8);
  --ngd-token-spacing-datepicker-weekdays-pad-h: var(--ngd-primitive-even-8);
  --ngd-token-spacing-dropdown-item-l-h-pad: var(--ngd-primitive-even-8);
  --ngd-token-spacing-dropdown-item-m-h-pad: var(--ngd-primitive-even-8);
  --ngd-token-spacing-dropdown-item-s-h-pad: var(--ngd-primitive-even-8);
  --ngd-token-spacing-dropdown-item-s-v-pad: var(--ngd-primitive-even-8);
  --ngd-token-spacing-input-l-gap: var(--ngd-primitive-even-8);
  --ngd-token-spacing-input-m-gap: var(--ngd-primitive-even-8);
  --ngd-token-spacing-input-s-gap: var(--ngd-primitive-even-8);
  --ngd-token-spacing-input-s-v-pad: var(--ngd-primitive-even-8);
  --ngd-token-spacing-label-gap: var(--ngd-primitive-even-8);
  --ngd-token-spacing-label-s-v-pad-2: var(--ngd-primitive-even-8);
  --ngd-token-spacing-node-head-gap: var(--ngd-primitive-even-8);
  --ngd-token-spacing-node-head-h-pad: var(--ngd-primitive-even-8);
  --ngd-token-spacing-node-head-v-pad: var(--ngd-primitive-even-8);
  --ngd-token-spacing-spacing-8: var(--ngd-primitive-4rule-8);
  --ngd-token-spacing-tooltip-v-pad: var(--ngd-primitive-even-8);
  --ngd-token-spacing-top-navbar-gap: var(--ngd-primitive-even-8);
  --ngd-token-spacing-button-m-v-pad-2: var(--ngd-primitive-odd-9);
  --ngd-token-spacing-label-m-v-pad-2: var(--ngd-primitive-odd-9);
  --ngd-token-spacing-label-xs-v-pad-1: var(--ngd-primitive-odd-9);
  --ngd-token-spacing-button-s-h-pad-1: var(--ngd-primitive-even-10);
  --ngd-token-spacing-button-s-h-pad-2: var(--ngd-primitive-even-10);
  --ngd-token-spacing-button-s-v-pad-1: var(--ngd-primitive-even-10);
  --ngd-token-spacing-dropdown-item-m-v-pad: var(--ngd-primitive-even-10);
  --ngd-token-spacing-input-m-v-pad: var(--ngd-primitive-even-10);
  --ngd-token-spacing-label-s-h-pad-1: var(--ngd-primitive-even-10);
  --ngd-token-spacing-label-s-h-pad-2: var(--ngd-primitive-even-10);
  --ngd-token-spacing-label-s-v-pad-1: var(--ngd-primitive-even-10);
  --ngd-token-spacing-label-xs-h-pad-1: var(--ngd-primitive-even-10);
  --ngd-token-spacing-label-xs-h-pad-2: var(--ngd-primitive-even-10);
  --ngd-token-spacing-node-head-icon: var(--ngd-primitive-even-10);
  --ngd-token-spacing-spacing-10: var(--ngd-primitive-even-10);
  --ngd-token-spacing-button-l-v-pad-2: var(--ngd-primitive-odd-11);
  --ngd-token-spacing-dropdown-item-l-v-pad: var(--ngd-primitive-odd-11);
  --ngd-token-spacing-input-l-v-pad: var(--ngd-primitive-odd-11);
  --ngd-token-spacing-button-l-h-pad-2: var(--ngd-primitive-4rule-12);
  --ngd-token-spacing-button-m-h-pad-1: var(--ngd-primitive-4rule-12);
  --ngd-token-spacing-button-m-h-pad-2: var(--ngd-primitive-4rule-12);
  --ngd-token-spacing-button-m-v-pad-1: var(--ngd-primitive-4rule-12);
  --ngd-token-spacing-button-xl-h-pad-2: var(--ngd-primitive-4rule-12);
  --ngd-token-spacing-button-xl-v-pad-2: var(--ngd-primitive-4rule-12);
  --ngd-token-spacing-dropdown-item-l-gap: var(--ngd-primitive-even-12);
  --ngd-token-spacing-dropdown-item-m-gap: var(--ngd-primitive-even-12);
  --ngd-token-spacing-dropdown-item-s-gap: var(--ngd-primitive-even-12);
  --ngd-token-spacing-input-l-h-pad: var(--ngd-primitive-4rule-12);
  --ngd-token-spacing-input-m-h-pad: var(--ngd-primitive-4rule-12);
  --ngd-token-spacing-input-s-h-pad: var(--ngd-primitive-4rule-12);
  --ngd-token-spacing-label-m-h-pad-1: var(--ngd-primitive-even-12);
  --ngd-token-spacing-label-m-h-pad-2: var(--ngd-primitive-even-12);
  --ngd-token-spacing-label-m-v-pad-1: var(--ngd-primitive-even-12);
  --ngd-token-spacing-modal-l-header-gap: var(--ngd-primitive-4rule-12);
  --ngd-token-spacing-modal-m-header-gap: var(--ngd-primitive-4rule-12);
  --ngd-token-spacing-product-tour-gap: var(--ngd-primitive-4rule-12);
  --ngd-token-spacing-snackbar-gap-1: var(--ngd-primitive-4rule-12);
  --ngd-token-spacing-snackbar-v-pad-2: var(--ngd-primitive-4rule-12);
  --ngd-token-spacing-spacing-12: var(--ngd-primitive-4rule-12);
  --ngd-token-spacing-tooltip-h-pad: var(--ngd-primitive-even-12);
  --ngd-token-spacing-top-navbar-v-pad: var(--ngd-primitive-4rule-12);
  --ngd-token-spacing-button-l-h-pad-1: var(--ngd-primitive-4rule-16);
  --ngd-token-spacing-button-l-v-pad-1: var(--ngd-primitive-4rule-16);
  --ngd-token-spacing-button-xl-h-pad-1: var(--ngd-primitive-4rule-16);
  --ngd-token-spacing-button-xl-v-pad-1: var(--ngd-primitive-4rule-16);
  --ngd-token-spacing-modal-m-content-h-pad: var(--ngd-primitive-4rule-16);
  --ngd-token-spacing-modal-m-header-pad: var(--ngd-primitive-4rule-16);
  --ngd-token-spacing-snackbar-h-pad-1: var(--ngd-primitive-4rule-16);
  --ngd-token-spacing-snackbar-v-pad-1: var(--ngd-primitive-4rule-16);
  --ngd-token-spacing-spacing-16: var(--ngd-primitive-4rule-16);
  --ngd-token-spacing-top-navbar-h-pad: var(--ngd-primitive-4rule-16);
  --ngd-token-spacing-modal-m-content-gap: var(--ngd-primitive-4rule-20);
  --ngd-token-spacing-spacing-20: var(--ngd-primitive-4rule-20);
  --ngd-token-spacing-modal-l-content-gap: var(--ngd-primitive-4rule-24);
  --ngd-token-spacing-modal-l-content-h-pad: var(--ngd-primitive-4rule-24);
  --ngd-token-spacing-modal-l-content-v-pad: var(--ngd-primitive-4rule-24);
  --ngd-token-spacing-modal-l-header-pad: var(--ngd-primitive-4rule-24);
  --ngd-token-spacing-modal-m-content-v-pad: var(--ngd-primitive-4rule-24);
  --ngd-token-spacing-product-tour-pad: var(--ngd-primitive-4rule-24);
  --ngd-token-spacing-spacing-24: var(--ngd-primitive-4rule-24);
  --ngd-token-spacing-snackbar-gap-2: var(--ngd-primitive-4rule-32);
  --ngd-token-spacing-spacing-32: var(--ngd-primitive-4rule-32);
  --ngd-token-stroke-edge-regular: var(--ngd-primitive-even-2);
  --ngd-token-stroke-edge-bold: var(--ngd-primitive-odd-3);
}
