.add-btn {
  --add-button-size: 24px; /* No Figma token */

  display: flex;
  position: absolute;
  width: var(--add-button-size);
  height: var(--add-button-size);
  min-width: var(--add-button-size);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  opacity: var(--add-btn-opacity, 1);
  transition: opacity 150ms ease;
  animation: fade-in 150ms ease;

  &:hover &__icon {
    background-color: var(--ngd-nav-button-icon-primary-default);
  }

  &:active &__icon {
    background-color: var(--ngd-nav-button-icon-primary-pressed);
  }

  &__icon {
    width: var(--add-button-size);
    height: var(--add-button-size);
    display: block;
    background-color: var(--ngd-nav-button-icon-primary-disabled);
    mask-image: url('/assets/plus-circle.svg');
    -webkit-mask-image: url('/assets/plus-circle.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    transition: background-color 150ms ease;
  }

  &--left {
    top: 50%;
    left: calc(-1 * var(--add-button-size) / 2 - var(--ngd-token-spacing-top-navbar-v-pad));
    transform: translate(-50%, -50%);
  }

  &--right {
    top: 50%;
    right: calc(-1 * var(--add-button-size) / 2 - var(--ngd-token-spacing-top-navbar-v-pad));
    transform: translate(50%, -50%);
  }

  &--bottom {
    bottom: calc(-1 * var(--expand-button-size) - var(--ngd-token-spacing-top-navbar-v-pad));
    left: 50%;
    transform: translate(-50%, 100%);
  }
}

:host(.layout-horizontal) .add-btn {
  &--left {
    top: calc(-1 * var(--ngd-primitive-odd-15)); /* No Figma token - no designs */
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
  }

  &--right {
    top: auto;
    right: auto;
    bottom: calc(-1 * var(--ngd-primitive-odd-15)); /* No Figma token - no designs */
    left: 50%;
    transform: translate(-50%, 50%);
  }

  &--bottom {
    bottom: auto;
    left: auto;
    right: calc(-1 * var(--ngd-primitive-4rule-40)); /* No Figma token - no designs */
    top: 50%;
    transform: translateY(-50%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
