<nav class="top-navbar">
  <div class="left-wrap">
    <div class="menu-trigger">
      <img src="assets/ngd-logo.svg" alt="ngD logo" />
      <span class="icon icon-caret-down"></span>
    </div>
  </div>
  <div class="right-wrap">
    <div class="theme-toggle" (click)="toggleTheme()">
      <div class="toggle-indicator" [class.active]="activeTheme() === 'light'">
        <span class="icon icon-sun"></span>
      </div>
      <div class="toggle-indicator" [class.active]="activeTheme() === 'dark'">
        <span class="icon icon-moon"></span>
      </div>
    </div>
  </div>
</nav>
